
# dot env with token
.env

# vscode
corona.code-workspace
.vscode

# python
__pycache__/
*.py[cod]
venv/
.venv/

# logs
logs/

# PyCharm
.idea

# Conversation data
conv_data/

# Rasa
rasa/model/models/*.tar.gz
