
# dot env with token
.env

# vscode
corona.code-workspace
.vscode

# python
__pycache__/
*.py[cod]
venv/
.venv/

# logs
logs/
log/

# PyCharm
.idea

# Conversation data
conv_data/

# Rasa
rasa/model/models/*.tar.gz

# Local test
test.py

media/
translated_strings/
db-build/

restart_with_rebuild.sh
.gitmodules
